body {
    background-color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #000000;
    border-bottom: 2px solid #e11d48;
    box-shadow: 0 4px 8px rgba(225, 29, 72, 0.3);
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 10px;
}

p { 
    color: #e5e5e5;
}

.card {
  display: flex;
  align-items: center;
  background-color: #111;
  border: 2px solid #e11d48;
  border-radius: 16px;
  padding: 20px;
  width: 700px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(225, 29, 72, 0.2);
}

.card img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 20px;
}

.card-content {
  color: #e5e5e5;
  line-height: 1.6;
}

.card-content h3 {
  color: #e11d48;
  font-size: 1.4rem;
}

.card-content p {
  font-size: 0.95rem;
}
